/*Landing*/
#Landing{
    height: 100vh;
    
}
.landing-info{
    padding-right: 40px;
    padding-top: 10%;
}
.landing-container {
    padding: 200px;
}
.info-paragraph{
    border-top: solid #99A4DD 2px;
}
.landing-image{
  background-color: #FFD7BA;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 85%;
  width: 85%;
}
.image-container{
    display: flex;
}

/*MyWork*/
.top-space{
    height: 150px;
}
.bunnyCardSVG{
    height: 90%;
    padding: 50px;
    padding-left: 50px;
}
.bunnyCardSVG:hover{
    animation: bounce 1s;
}

.container-card{
    overflow: visible;
    height: 600px;
    display: block;
    justify-content: center;
}
.card-containers{ 
    justify-content: center;
}
.bunnyCard{
    width: 20%;
    margin-right:30px;
    margin-left:30px;
}
.greenBunny{
    background: url('../../Assets/greenBunny.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.purpleBunny{
    background: url('../../Assets/purpleBunny.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.redBunny{
    background: url('../../Assets/redBunny.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}

.button-container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
h5{
    margin-bottom: 20px;
}
.jobComp{
    display: none;
}
.button-container button{
    border-radius: 100px !important;
}
.button-container button:hover{
    border-radius: 100px 100px 100px 0px !important;
    box-shadow: 0px 2px;
}
.button-container button:active{
    box-shadow: 0px 0px;
}

/*LetsChat*/
.chat-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text-bubble{
    overflow: visible;
    border-radius: 50% 50% 0px 0px;
    background: url("../../Assets/halfCircle.svg");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.chat-info{
    padding: 20px;
    padding-top: 10%;
}
@media only screen and (max-width: 991px){
    .text-bubble{
        margin-top: -50px;
        background: url("");
        position: absolute;
        opacity: 80%;
    }
    .chat-info{
        border-radius: 10px;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.637);
        border: solid #99A4DD 5px;
    }

}