/*Landing*/
#Landing{
    height: 100vh;
    
}
.landing-info{
    
    padding-right: 40px;
    padding-top: 10%;
}
.landing-container {
    padding: 200px;
    padding-bottom: 0px;
   
}
.info-paragraph{
    border-top: solid #99A4DD 2px;
}
.landing-image{
  background-color: #FFD7BA;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 85%;
  width: 85%;
}
.image-container{
    
    display: flex;
  
}
@media only screen and (max-width: 1689px){
    .landing-image{
        background: transparent;
        
    }
}
@media only screen and (max-width: 1279px){
    .landing-container, landing-info{
        padding-left: 40px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
}
@media only screen and (max-width: 767px){
    .landing-container{
        padding-left: 0px;

    }
    .image-container{
        opacity: 50%;
        position: absolute;
        z-index: 0;
    }
    .landing-info{
        background-color: rgba(255, 255, 255, 0.637);
        padding: 40px;
        position: absolute;
        z-index: 1;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -135px;
        border-radius: 10px;
        border: solid #99A4DD 5px;
    }
    #Landing{
        padding-left: 0px;
        padding-right: 0px;

    }

}
/*MyWork*/
.top-space{
    height: 150px;
}
.bunnyCardSVG{
    height: 90%;
    padding: 50px;
    padding-left: 50px;
}
.bunnyCardSVG:hover{
    animation: bounce 1s;
}

.container-card{
    overflow: visible;
    height: 600px;
    display: block;
    justify-content: center;
}
.card-containers{ 
    justify-content: center;
}
.bunnyCard{
    width: 20%;
    margin-right:30px;
    margin-left:30px;
}
.greenBunny{
    background: url('../../Assets/greenBunny.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.purpleBunny{
    background: url('../../Assets/purpleBunny.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.redBunny{
    background: url('../../Assets/redBunny.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}

.button-container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
h5{
    margin-bottom: 20px;
}
.jobComp{
    display: none;
}
.button-container > button{
    border-radius: 100px !important;
}
.button-container > button:hover{
    border-radius: 100px 100px 100px 0px !important;
    box-shadow: 0px 2px;
}
