.caseStudyCard{
    padding-top: 10%;
    padding-bottom: 10%;
}
.case-title{
    text-align: center;
}
.position-container{
    display: flex;
    justify-content: center;
}
.horizontal{
    margin-top: 30px;
}
.case-summary{
    text-align: center;
}
.case-description{
    font-size: 20px;
}
.case-image{
    height: 90%;
    border: solid 4px #99A4DD;
    border-radius: 80px;
}
.case-frame{
    border-radius: 80px;
}
.case-info{
    display: flex;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.prob-sol{
    padding: 10px;
}
.case-desc{
    border-top: solid #484848 1px;
    padding-top: 10px;
}
.bulletPoints{
    display: flex;
}
.website-link{
    background-color: #99A4DD;
    text-align: center;
    padding: 10px;
    border: solid white 4px;
    color: white;
    background:  #99A4DD;
}
#bulletPoint{
    font-size: 20px;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 1px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 10px;
}
hr{
    border-top: 2px solid #484848;
}
@media only screen and (max-width: 822px){
    .case-info{
        padding: 0px;
    }
}
@media only screen and (max-width: 600px){
    .bulletPoints{
        display: block;
    }
}