#NavigationBar{
    z-index: 4;
}
.navTag{
    color: white;
     position: relative;
    text-decoration: none;
    margin-right: 40px;
}
.navTag:hover{
    color: white;
   
} 
.navTag::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: 15px; 
    width: 100%; 
    height: 2px; 
    background-color: white; 
    transition: transform 0.3s ease-out;
    transform-origin: left bottom; 
    transform: scaleX(0); 
}
  
.navTag:hover::before {
    transform: scaleX(1);
}

#logo{
    border-radius: 50%;
    border: solid white;
    overflow: visible;
    margin-left: 15px;
    transition: ease-in-out .3s;
}
#logo:hover{
    transform: scale(1.2);
}
#logo:active{
    transform: scale(1.1);
}
.navigationTab{
    margin-right: 10px;
    border-radius: 28px 0px 28px 28px;
    padding-top: 10px;
    padding-left: 20px;
}

#mobile-nav{
    z-index: 11;
   position: fixed;
   margin-top: 10px;
   margin-left: 10px;
    
}
.carrot{
    background-color: transparent !important;
    border: none;
    padding: 0px;
    transition: 0.5s;
}
.carrot:hover{
    transform: scale(1.1);
}
.carrot:active{
    transform: scale(0.9);
}
.bunny-navigation, .closed{
    translate: -180px;
    margin-top: 50px;
    display: block;
    transition: 0.2s;
}

.carrot-top > p{
    margin-top: 15px;
    margin-left: 10px;
}
.opened{
    translate: -40px;
}
.bunny-nav{
    width: 150px; 
    transition: 0.5s;
}
.hidden-text{
    display: none;
}

.bunny-nav:hover{
    transform: scale(1.1);

}
.bunny-nav:active{
    transform: scale(0.9);
}
#mobi-nav > ul > li{
    list-style-type: none;
}