@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html{
    font-family: 'Quicksand';
    overflow-x: hidden;

}
.fp-watermark{
    display: none;
}
* {
    box-sizing: border-box;
  }

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #FFF8E7;
}
/*Navigation Fullpage*/
#fp-nav > ul > li > a > span{
    background: #99A4DD !important;
}
/*Text Sizes*/
h1, h2, h3, h4, h5, h6, p{  
    font-family: 'Quicksand';
}
.heading, h1{
    font-size: 50px;
}
.subtitle, h2{
    font-size: 40px;
}
p{
    font-size: 25px;
}
/*Button*/

button{
    transition: ease-in-out .35s;
    background-color: white;
    font-size: 20px !important;
    border: solid 3px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px !important;
}
/*Button Colors*/
.green-btn{
    color: #76C883;
    border: solid #76C883;
}
.green-btn:hover{
    transform: scale(1.05);
    box-shadow: -8px 8px #76C883;
}
.green-btn:active{
    transform: scale(1);
    box-shadow: 0px 0px #76C883;
}

.red-btn{
    color: #FF9F9F;
    border: solid #FF9F9F;
}
.red-btn:hover{
    transform: scale(1.05);
    box-shadow: -8px 8px #FF9F9F;
}
.red-btn:active{
    transform: scale(1);
    box-shadow: 0px 0px #FF9F9F;
}
.purple-btn{
    color: #99A4DD;
    border: solid #99A4DD;
}
.purple-btn:hover{
    transform: scale(1.05);
    box-shadow: -8px 8px #99A4DD;
}
.purple-btn:active{
    transform: scale(1);
    box-shadow: 0px 0px #99A4DD;
}
/*Text Colors*/
.black-text{
    color: #484848;
}
.red-text{
    color: #FF9F9F;
}
.green-text{
    color: #76C883;
}
.purple-text{
    color: #99A4DD;
}
/*Background Colors*/
.pink-bg{
    background: #FFC2C2;
}
.cream-bg{
    background: #FFF8E7;
}
.orange-bg{
    background: #FFD7BA;
}
.green-bg{
    background: #76C883;
}
.purple-bg{
    background: #99A4DD;
}
.red-bg{
    background: #FF9F9F;
}
/*Borders*/
.green-border{
    border: solid 2px #76C883;
}
.purple-border{
    border: solid 2px #99A4DD;
}
.red-border{
    border: solid 2px #FF9F9F;
}
.orange-border{
    border: solid 2px #FFD7BA;
}


@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }